<?php

defined('SYSPATH') or die('No direct access allowed.');

/**
 * Per host configurations.
 * 
 * Copy this file to APPPATH/config/host.php
 * 
 * @package   Host
 * @author    Hète.ca Team
 * @copyright (c) 2013, Hète.ca Inc.
 * @license   http://kohanaframework.org/license
 */
return array(
    // Setup for testing
    'phpunit' => array(
        'environment' => Kohana::TESTING,
        'database' => 'localhost',
        'caching' => FALSE,
    ),
    // Anything dot local
    '\w+\.local' => array(
        'environment' => Kohana::DEVELOPMENT,
        'caching' => FALSE,
        'profiling' => TRUE,
    ),
    // localhost configuration
    '(localhost)|(192\.168\.)' => array(
        'base_url' => '/your-domain-name.com/',
        'database' => 'localhost',
        'environment' => Kohana::DEVELOPMENT,
    ),
);
?>
