<?php

defined('SYSPATH') or die('No direct access allowed.');

// Per host configs
return array(
    'default' => array(
        // Basic setup
        "name" => "Your host name", // Setup name
        "description" => "Your host escription", // Setup description
        "domain" => "your-host-domain.com", // Registered domain for this setup
        // Kohana::init setup
        'environment' => Kohana::PRODUCTION, // Set by .htaccess or PRODUCTION by default
        'index_file' => FALSE,
        'base_url' => "/",
        'caching' => TRUE,
        'errors' => TRUE, // Handled
        'profiling' => FALSE,
        // Extra setups
        'database' => 'production',
        "cache" => "file", // File caching is optimal by default
        "paypal" => "live",
        "salt" => "your-cookie-salt",
        "protocol" => "http", // Default protocol for requests
        "google_analytics" => "your-google-analytics-code"
    ),
    // Setup for testing
    'phpunit' => array(
        'environment' => Kohana::TESTING,
        'database' => 'localhost',
        'caching' => FALSE,
    ),
    // Anything dot local
    '\w+\.local' => array(
        'environment' => Kohana::DEVELOPMENT,
        'caching' => FALSE,
        "profiling" => TRUE,
        "protocol" => "http",
        "paypal" => "sandbox"
    ),
    // localhost configuration
    '(localhost)|(192\.168\.)' => array(
        'base_url' => '/your-domain-name.com/',
        'database' => 'localhost',
        "environment" => Kohana::DEVELOPMENT,
        "protocol" => "http"
    ),
);
?>
