<?php

defined('SYSPATH') or die('No direct access allowed.');

/**
 * Per host configurations.
 * 
 * Copy this file to APPPATH/config/host.php
 * 
 * @package Host
 * @author Hète.ca Team
 * @copyright (c) 2013, Hète.ca Inc.
 */
return array(
    'default' => array(
        // Environment is defaulted to production
        'environment' => Kohana::PRODUCTION,
        // Kohana::init setup
        'base_url' => '/',
        'index_file' => FALSE,
        'caching' => TRUE,
        'errors' => TRUE,
        'profile' => FALSE,
        // Additional setup
        'cookie_salt' => NULL,
        // Module setup
        'database' => 'production',
        'cache' => 'file', // File caching is optimal by default        
    ),
    // Setup for testing
    'phpunit' => array(
        'environment' => Kohana::TESTING,
        'database' => 'localhost',
        'caching' => FALSE,
    ),
    // Anything dot local
    '\w+\.local' => array(
        'environment' => Kohana::DEVELOPMENT,
        'caching' => FALSE,
        'profiling' => TRUE,
    ),
    // localhost configuration
    '(localhost)|(192\.168\.)' => array(
        'base_url' => '/your-domain-name.com/',
        'database' => 'localhost',
        'environment' => Kohana::DEVELOPMENT,
    ),
);
?>
